
config.json
google-services.json
variveisConfig.txt
include.php
resolvConfig.full.js
resolvConfig.min.js
logotipo.png
logo-mini.png
logo.png
form.js
form.php
_skin-custom.css

/controller/config/
/controller/ClassSQL/
/script/
/img/
/view/

*.env
!configTemplate.env

/vendor/
