
config.json
google-services.json
variveisConfig.txt
include.php
resolvConfig.full.js
resolvConfig.min.js
logotipo.png
logo-mini.png
logo.png
form.js
form.php
_skin-custom.css
composer.lock
composer.json
/controller/upload.php
/controller/constConfigAdd.php

/controller/config/
/controller/report/
/controller/ClassSQL/
/script/
/img/
/view/

*.env
!configTemplate.env

/vendor/

/dist

/index.html
/login/
/create-user/
/password-change/
/password-reset/
/principal/
